In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.4'

In [35]:
products = ['A', 'B', 'C', 'D']
size = pd.Series(products)
size.dtype

dtype('O')

In [52]:
thisdict = {
  "brand": 1964,
  "model": 1964,
  "year": 1964
}
type(thisdict)

dict

In [54]:
product_categories = pd.Series(thisdict)

product_categories.index

Index(['brand', 'model', 'year'], dtype='object')

In [56]:
daily_rate= [1, 2, 3, 4, 5, 8, 9] 
daily_rate1= [1.2, 2.3, 3.4, 44.4, 5.4] 

pandas = pd.Series(daily_rate)
pandas.index

RangeIndex(start=0, stop=7, step=1)


# Changing numpy arrays into series

In [10]:
import numpy as np

In [11]:
array_a = np.array([10, 20, 30, 40, 50])
type(array_a)
series_a = pd.Series(array_a)
array_a.dtype

numpy.ndarray

# Indexing

In [57]:
series_a = pd.Series([10,20,30,40,50])
prices_per_category = pd.Series({'Product A': 22250, 'Product B': 16600, 'Product C': 125000})

In [58]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [59]:
prices_per_category

Product A     22250
Product B     16600
Product C    125000
dtype: int64

In [67]:
series_a[0]

20

In [61]:
prices_per_category['Product A']

22250

In [62]:
prices_per_category[0]

22250

In [65]:
series_b = pd.Series([10,20,30,40,50], index = [1,2,3,4,5])
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [69]:
series_b[1]

10

In [72]:
series_c = pd.Series([10,20,30,40,50], index = ['1','2','3','4','5'])
series_c

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [75]:
series_c.name="int"

In [76]:
series_c

1    10
2    20
3    30
4    40
5    50
Name: int, dtype: int64

In [7]:
START_DATE_DEPOSITS = pd.Series({
    '7/4/2011': 2,
    '7/4/2012': 20000,
    '7/4/2013': 210000,
    '7/4/2014': 20000,
    '7/4/2015': 10000,
    '7/4/2015': 10,
    
    
})
START_DATE_DEPOSITS

7/4/2011         2
7/4/2012     20000
7/4/2013    210000
7/4/2014     20000
7/4/2015        10
dtype: int64

In [7]:
START_DATE_DEPOSITS.sum()

70002

In [8]:
 START_DATE_DEPOSITS.min()

2

In [9]:
START_DATE_DEPOSITS.max()

20000

In [10]:
START_DATE_DEPOSITS.idxmin()

'7/4/2011'

In [12]:
START_DATE_DEPOSITS.idxmax()

'7/4/2012'

In [13]:
START_DATE_DEPOSITS[0]

2

In [8]:
START_DATE_DEPOSITS.head()

7/4/2011         2
7/4/2012     20000
7/4/2013    210000
7/4/2014     20000
7/4/2015        10
dtype: int64